<header>
  <div class="app-title"><p>Portfolio</p></div>
  <div class="navigation">
    <p (click)="scroll(aboutme)">About me</p>
    <p (click)="scroll(myprojects)">My Projects</p>
    <p (click)="scroll(CV)">CV</p>
    <p (click)="scroll(contact)">Contact</p>
  </div>
</header>
<div class="about-me">
  <h1 #aboutme style="color: #eef4ed">
    <b>Hello, I'm Mario Constantinescu</b>
  </h1>
  <p>
    I am 21 years old and I like IT industry, sports (especially football), good
    music and interacting with other people. I enjoy the beach, nature, trips,
    music festivals, going to sport events, meeting new people and learning
    interesting things everyday. I am serious when it comes to work on
    something, curious to discover things I don't know, punctual and a person
    you enjoy working with.
  </p>
  <br />
  <h1 style="color: #eef4ed"><b>Hobbies</b></h1>
  <p>
    <b>Programming</b> - I started programming at 13 years old and since then I
    tried several technologies: C, C++, C#, Python, PHP, Java, Kotlin, Angular.
  </p>
  <p>
    <b>Technology</b> - I was always fascinated by smart things like smart TVs,
    smart watches, smart phones and so on and what they can do and I'm always
    thinking about how they implemented certain things and try to figure it out
    myself.
  </p>
  <p>
    <b>Sports</b> - I played sports since I was child. My favorite was and will
    always be football though I played basketball as well and I took dancing
    classes.
  </p>
  <p>
    <b>Music Festivals</b> - having fun is almost as important as working. And
    you remain with some unforgettable memories.
  </p>
  <p>
    <b>Fashion</b> - although I'm not an expert I try to dress well. As they
    say, people can have a good first impression about you if they like how you
    appear.
  </p>
</div>
<div class="my-projects">
  <h1 #myprojects style="color: #eef4ed"><b>My Projects</b></h1>
  <br />
  <div class="projects-container">
    <app-card
      *ngFor="let project of projects; let i = index"
      [index]="i"
    ></app-card>
  </div>
</div>
<div class="CV">
  <h1 #CV style="color: #eef4ed"><b>CV</b></h1>
  <p style="width: fit-content; margin: 0">
    <a
      href="https://github.com/corsimar/CV/blob/main/Constantinescu_Mario_CV.pdf"
      style="text-decoration: none; color: #eef4ed"
      >Open CV in new tab</a
    >
  </p>
  <img
    src="/assets/CV.png"
    style="margin-top: 24px"
    width="700px"
    height="1000px"
  />
</div>
<div class="contact">
  <h1 #contact style="color: #eef4ed"><b>Contact</b></h1>
  <div class="contacts" style="display: flex; column-gap: 48px">
    <div
      class="contact-form"
      style="display: flex; align-items: center; column-gap: 8px"
    >
      <span nz-icon nzType="mail" nzTheme="outline"></span>
      <p style="margin: 0">constantinescu.mario_06_05@yahoo.com</p>
    </div>
    <div
      class="contact-form"
      style="display: flex; align-items: center; column-gap: 8px"
    >
      <span nz-icon nzType="phone" nzTheme="outline"></span>
      <p style="margin: 0">+40729665059</p>
    </div>
  </div>
</div>
<div style="width: 100%; height: 100px"></div>
